<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Onassis Template</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>

		 <header>
		<div class="hero-sec">
			<h1>Onassis</h1>
			<p>Free Bootstrap Template</p>
		</div>
		    <p class="piece"><span > WELCOME TO</span> ONASSIS. A FREE BOOTSTRAP <span >THEME.<br> CRAFTED WITH LOVE BY</span> TEMPLATEMAG.<br>
			IDEAL FOR <span >AGENCIES & FREELANCERS.</span></p>
		</header>
			

		<main>
			
			<div class="services">
				<h2>OUR SERVICES</h2>
				<div >
					<img src="images/s1.png" alt="bing bin clock">
					<h3>London</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
				<div >
					<img src="images/s2.png" alt="berliner fernsehturm">
					<h3>Berlin</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
				<div >
					<img src="images/s3.png" alt="eiffel tower">
					<h3>Paris</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						 Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
				<div >
					<img src="images/s4.png" alt="sensoji temple">
					<h3>Tokyo</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						 Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
				<div class="clear"></div>
			</div>
		

         
		<div class="charts">
	                <p>SOME CHARTS</p>
	          <div>
		           <img src="images/javascript.png" alt="Javascript chart">
		           <p>Javascript</p>
	           </div>
	           <div>
		           <img src="images/bootstrap.png" alt="Bootstrap chart">
		           <p>Bootstrap</p>
	           </div>
	           <div>
		           <img src="images/wordpress.png" alt="Wordpress chart">
		            <p>Wordpress</p>
	           </div>
			   <div class="clear"></div>
        </div>
			
	  
			<div class="cool">
				<p>COOL WORKS</p>
				<div >
					<img src="images/work1.png" alt="#">
				</div>
				<div >
					<img src="images/work2.png" alt="#">
				</div>
				<div >
					<img src="images/work3.png" alt="#">
				</div>
			</div> 
		
		
			<p class="piece"><span >WE WORK HARD TO DELIVER A</span>
				HIGH QUALITY SERVICE.<span >OUR<br> AIM IS YOUR COMPLETE</span>
				SATISFACTION.
			</p> 
			
			
				<div class="brief">
					<h2>ABOUT US</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lectus elit, tincidunt nec turpis sed,
						 accumsan<br> iaculis ipsum. Nulla at augue auctor, tristique erat in, ultricies nunc. Mauris eget metus leo. Ut in mi lacinia,<br> mattis nisl non, ultrices risus. Vestibulum aliquet aliquam ipsum ut ullamcorper. Pellentesque fringilla,
						 massa vel <br>rutrum consequat, nulla velit fermentum dolor, sed scelerisque.</p>
						 
						 <div >
							<img src="images/team01.jpg" alt="Liz Stewart " >
							<p >Liz Stewart</p>
							<p class="team-job">Product Manager</p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<p class="icon"><a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-twitter"></a></p>
						 </div>
						 <div >
							<img src="images/team02.jpg" alt="Brad Casey" >
							<p>Brad Casey</p>
							<p class="team-job">Front-end Developer</p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<p class="icon"><a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-twitter"></a></p>
						 </div>
						 <div >
							<img src="images/team03.jpg" alt="Pamela Chow" >
							<p>Pamela Chow</p>
							<p class="team-job" >Web Designer</p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<p class="icon"><a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-twitter"></a></p>
						 </div>
						 <div >
							<img src="images/team04.jpg" alt="Tim Gates" >
							<p>Tim Gates</p>
							<p class="team-job">Back-end Guru</p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<p class="icon"><a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-twitter"></a></p>
						 </div>
						 <div class="clear"></div>
				</div>
			
			</main>
			<footer>
		       <div class="contect">
                    <h4>CONTACT US</h4>
				 <div> 
                    <p>Send Us A Message:<br>onassis@example.com</p>
			     </div>
				 <div>
                     <p>Call Us:<br>+55 3984-4389</p>
				 </div>
					<div>
					  <p>We Are Social<br>
					   <a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a></p>
				 </div>
				 <div class="clear"></div>
			  </div>
				
				<div class="footer">
					<p>© Copyrights <span>Onassis</span>. All Rights Reserved</p>
				    <p class="creater">Created with Onassis template by <a href="#">Fawzia Salah</a></p>
				</div>
			</footer>
             

	</body>
</html>
